<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %></h1>
    <p>
      you have sent an wishlist named: <%= @wishlist.name %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>